@model Nop.Plugin.Payments.CoinCornerCheckout.Models.ConfigurationModel
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="CoinCornerCheckout" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Raw(T("Plugins.Payments.CoinCornerCheckout.Instructions", $"{webHelper.GetStoreLocation()}Plugins/PaymentCoinCorner/PDTHandler"))
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UserId_OverrideForStore" asp-input="UserId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UserId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UserId" />
                        <span asp-validation-for="UserId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="APIPublic_OverrideForStore" asp-input="APIPublic" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="APIPublic" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="APIPublic" />
                        <span asp-validation-for="APIPublic"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="APISecret_OverrideForStore" asp-input="APISecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="APISecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="APISecret" />
                        <span asp-validation-for="APISecret"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="InvoiceCurrency_OverrideForStore" asp-input="InvoiceCurrency" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="InvoiceCurrency" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="InvoiceCurrency" />
                        <span asp-validation-for="InvoiceCurrency"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SettlementCurrency_OverrideForStore" asp-input="SettlementCurrency" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="SettlementCurrency" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SettlementCurrency" />
                        <span asp-validation-for="SettlementCurrency"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>